@media screen and (max-Width: 425px){
    .login-div{
        display: flex;
        flex-direction: column;
    }   
    .navbar_container{
        display: flex;
        margin: 0px;
    }

    .navbar_logo{
        display: flex;
        margin: 0px;
        width: 20px;
        height: 20px;
        border: 1px solid red;
    }

    .img{
        width: 30px;
        height: 10px;
        float: left;
        border: 1px solid red;
        display: flex;
        align-items: left;
        justify-content: left;
        margin-left: 0px ! important ;
    }
}